* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #24272E;
    color: white;
}

header {
    background: white;
    padding: 20px;
}

header h1 {
    color: #24272E;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    text-align: center;
}

.score p:first-child {
    font-size: 30px;
}

.score p:last-child {
    font-size: 14px;
}

.result {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.choices {
    margin: 50px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover {
    background: #ffc107;
    border-color: #ffc107;
}

.choice img {
    width: 50px;
}

#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}